*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    background-color: #383F74;
    border-radius: 20px;
   position: relative;
   margin-top: 50px;
   overflow: hidden;
   /* left: 50%;
   top: 50%; */
   padding: 10px 20px;
   /* transform: translate(-50%,-0%); */
display: flex;
flex-direction: column;
width: 320px;
/* justify-content: center; */
/* align-items: center; */

}

.heading{
    background-color: #DC143C;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 18px;

    position: absolute;
/* padding: 5px 15px; */
border-radius: 30px;
font-size: 18px;
    left: 50%;
    top: 0%;
    transform: translate(-50%,-45%);
}



/* #F78152
      

      Roboto Bold
Roboto Thin
Roboto Slab
Roboto Light
Roboto Black */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
 
}
.inputDiv{
    text-align: center;
    width: 100%;
    margin: auto;
}
.prevousValue{
    color: #F78152;
    text-align: right;
    padding: 10px 20px;
    font-size: 25px;
    height: 20px;
    margin-top: 12px;
}
input{
    font-size: 40px;
}
.myinput{
    width: 80%;
    height: 60px;
    outline: none;
    border: none;
    text-align: right;
    padding: 0px 20px;
}

.allbtnsDiv{
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    row-gap: 10px;
    column-gap: 10px;

    align-items: center;
    width: 90%;
    /* background-color: aqua; */
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

}
.allbtnsDiv div{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #fff;

}
.clear,.modulus,.divide,.multiple,.minus,.plus{
    background-color: #F78152 !important;
    border: 2px solid #F78152 !important;

}
.equalBtn{
    grid-row: 4/-1;
    grid-column: 4/-1;
    height: 85px;
    background-color: #DC143C !important;
    border: 2px solid #DC143C !important;
    
    /* grid-column: 4/ span 6; */
    /* grid-column-end: 4; */

    /* grid-row-end: 6; */

}
.equalBtn>button{
    color: #fff;
    font-size: 30px;
}

button{
    margin: 7px;
    /* height: 55px;
    width:  55px; */
    font-size: 20px;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    /* height: 100%; */

}





